@import "colors.css";

* {
    all:unset;
    font-size: 13px;
    font-family: "Rubik","Caskaydia Mono Nerd Font","Noto Sans CJK JP","Noto Sans CJK KR"; 
    min-height: 24px;
}

window#waybar {
    background-color: #1e1e2e;
    color: @blue1;
}

tooltip {
    background-color: #1e1e2e;
    color: @blue1;
    padding: 12px;
    border-radius: 16px;
}

#custom-weather
#clock {
    font-weight: 500;
}

#workspaces {
    background-color: #1e1e2e ;
    padding: 4px;
    margin: 2px 0;
}


#workspaces button {
    background-color: #1e1e2e;
    color: @blue0;
    margin: 0 2px;
    transition: all 300ms ease-in-out;
    min-width: 10px;
}

#workspaces button.active {
    background-color: @1e1e2e;
    border-radius: 99px;
    font-weight: 500;
    transition: none;
    color: @blue1;
}



